/*             styles for the star rater                */	
.star-rating{
	list-style:none;
	margin-top:5px;
		margin-right:10px;
	padding:0px;
	width: 125px;
	height: 25px;
	position: relative;
		float:left;
	background: url(alt_star.gif) top left repeat-x;		
}
.star-rating li{
	padding:0px;
	margin:0px;
	/**/
	float: left;
	/* */
}
.star-rating li a{
	display:block;
	width:25px;
	height: 25px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.star-rating li a:hover{
	background: url(alt_star.gif) left bottom;
		margin-top:-1px;
	z-index: 2;
	left: 0px;
}

.star-rating a.one-star{
	left: 0px;
}
.star-rating a.one-star:hover{
	width:25px;
}
.star-rating a.two-stars{
	left:25px;
}
.star-rating a.two-stars:hover{
	width: 50px;
}
.star-rating a.three-stars{
	left: 50px;
}
.star-rating a.three-stars:hover{
	width: 75px;
}
.star-rating a.four-stars{
	left: 75px;
}	
.star-rating a.four-stars:hover{
	width: 100px;
}
.star-rating a.five-stars{
	left: 100px;
}
.star-rating a.five-stars:hover{
	width: 125px;
}
.star-rating li.current-rating{
	background: url(alt_star.gif) left center;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}		







/*             styles for the star rater                */	
.star-rating-noh{
	list-style:none;
	margin-right:10px;
		margin-top:5px;
	padding:0px;
	width: 125px;
	height: 25px;
	position: relative;
		float:left;
	background: url(alt_star.gif) top left repeat-x;		
}
.star-rating-noh lidd{
	padding:0px;
	margin:0px;
	/**/
	float: left;
	/* */
}
.star-rating-noh li{
	display:block;
	width:25px;
	height: 25px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}

.star-rating-noh li.current-rating{
	background: url(alt_star.gif) left bottom;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}		

.star-rating-noh li.one-star{
	left: 0px;
}

.star-rating-noh li.two-stars{
	left:25px;
}
.star-rating-noh li.three-stars{
	left: 50px;
}
.star-rating-noh li.four-stars{
	left: 75px;
}	
.star-rating-noh li.five-stars{
	left: 100px;
}

.top {padding:0 0 0 5px;margin-left:-0px;}
.news-submitted {font-size:85%;margin-bottom:3px;color:#999999; }
.news-body-text {margin:10px 0px 0px 0px; font-size:96%;}
.news-details {margin:0;font-size:85%;}