html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin:0;
padding:0;
}

body {
padding:0;
margin:0;
color:#000000;
font: 13px arial, "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
font-weight: normal;
background: #fff url(../images/bgrepeat.png) repeat-x top left;
}

strong {font-weight:bold}
label {font-weight:bold;}
code {padding:8px; margin:10px; background:#EDEDED;border:1px solid #B0B0B0;line-height:1.2;display:block;}

#htmlElement {
padding: 10px;
background-color: #000;
}

a:link {text-decoration: none; }
a:active {text-decoration: none; }
a:visited {text-decoration: none; }
a:hover {text-decoration: none; }

.bluerndcontent a {color: #094F89; text-decoration: none; }
.bluerndcontent a:active {color: #0000ff; text-decoration: underline; }
.bluerndcontent a:visited {color: #094F89; text-decoration: none; }
.bluerndcontent a:hover {color: #619ACB; text-decoration: underline; }

img{
border: none;
}
img.floatimageleft {float:left;margin:0px 12px 0px 0;}
img.floatimageright {float:right;margin:0px 12px 0px 12px;}

.floatleft {float:left;margin:0px 12px 0px 0;}
.floatright {float:right;margin:0px 12px 0px 12px;}

h1 {font-size:1.6em;margin:4px 0 10px 0;}
h2 {font-size:1.4em;margin:0 0 10px 0;}
h3 a,h2 a {color:#739dc2;}

ol {margin-left:26px;}
ol li {line-height:1.2;}

.altlink{
cursor:pointer;
}

.tablesort th {background: #619acb;}
.reverse_sort {background: #5688b3 url(../images/arrow_up.gif) no-repeat top left;}
.forward_sort {background: #619acb url(../images/arrow_down.gif) no-repeat top left;}
.greyhighlight {background-color:#F3F3F3;padding:5px;border:1px dashed #DBDBDB;}

.bigbutton {padding:4px;font-size:15px;}

.admintitle {
margin:2px 10px 4px 0;
padding-left:2px;
border-bottom:1px solid #619ACB;
font-size:16px;
font-weight:bold;
}


.admin_bottom_button{float:left;background:#F5F5F5;border:1px solid #7a7a7a;padding:3px 5px;}

/** Installation **/
.installer {margin-left:20px;margin-bottom:14px;}
.installer h1 a {font-size:25px;}
.steps {float:left;text-align:center; padding-top:10px;width:115px;}
.installercontent {padding-left:115px;}
.instructions {width:760px;text-align:left;margin-top:15px;}
.instructions p {margin:4px 2px 8px 2px;}
.instructions table {width:400px;}
.donext{margin-left:40px;}
.donext ol{
font: italic 1.2em Georgia, Times, serif;
color: #999999;
}
.donext ol p {
font: normal 87% Arial, Tahoma, Verdana, Sans-Serif;
color: #000000;
}
.help {float:right;padding-right:3px;padding-top:3px;}

.submitbutton {padding:5px 15px 5px 15px;margin-top:5px;font-size:14px;font-weight:bold;}

/***** Template ****/
.body-wrap {
text-align: left;
width:960px;
margin: 0 auto;
}


#main_content {
width:940px;
margin: 0 auto;
padding: 0 10px;
}

.main {
position:relative;
margin-right: 290px;
padding: 0;
}

.main-full {
position:relative;
}

#sideitems {
border:2px solid #619ACB;
}

.sidebar {
position:relative;
float: right;
width: 250px;
margin: 0px 0px;
}

.sidebar li {
list-style-position:inside;
margin:0;
padding:0;
}

.version {
background:#fff;
border:2px solid #619ACB;
}

/*|HEADER */
.logo {position:absolute;float:left;margin:27px 0 8px 0;}

#header {
/*	position: relative;*/
color: #000;
width: 940px;
height:160px;
margin: 0 auto;
padding: 0 10px;
text-align: center;
}
#header a:link, #header a:visited{
color:#094F89;
}
#header a:hover, #header a:active{
color:#094F89;
text-decoration: underline;
}

#header #head-nav{
text-align: left;
font-weight:bold;
}

#head-nav {
margin-top:100px;
float:left;
width:940px;
}

#head-nav ul.nav-menu {
list-style: none;
padding:6px 0;
font-size: 14px;
}
#head-nav li{
display:block;
float:left;
padding:0 1px;
}
#head-nav a.nav:link, #head-nav a.nav:visited{
font-size: 14px;
padding:4px 8px;
display:block;
height:18px;
float:left;
}
#head-nav a.nav:hover, #head-nav a.nav:active{
color: #000000;
padding:4px 8px;
display:block;
height:18px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border:medium none;
}
#head-nav a.navcur:link, #head-nav a.navcur:visited{
font-size: 14px;
padding:4px 8px;
background-color:#e8e8e9;
color:#000;
display:block;
height:18px;
float:left;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border:medium none;
}

#navbar{     /* IE */
position:relative;
clear:left;
color:#094F89;
margin:27px 0 7px 0;
padding: 0 9px;
}

#navbar .right-pane{
/*    position: relative;   */
margin-right:65px;
float:right;
color:#000;
}

#footer-wrap{
clear:both;
/*    position:relative;   */
margin-top:15px;
background-color: #EDEDED;
height:80px;
text-align: left;

}

.footer{
position:relative;
/*    margin:0 20px;*/
border-top:2px solid #B0B0B0;
padding: 10px 0 15px 0;
color:#000000;
border-bottom:2px solid #B0B0B0;
}

.footer a:link, .footer a:visited {
color: #000000;
font-size:13px;
font-weight:bold;
text-decoration:none;
}

.footer a:hover, .footer a:active {
text-decoration:underline;
}
.footer h1{
font-size:18px;
font-weight:normal;
margin-bottom:4px;
}
.rss-feeds {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.rss-feeds ul{
list-style:none;
}
.rss-feeds li{
display:inline;
background: url(../images/rss.gif) 0 50% no-repeat;
padding:0 18px 0 20px;
}
.rss-feed{
background: url(../images/rss.gif) 0 50% no-repeat;
padding:0 12px 0 20px;
}

#about{
background:#fff;
min-width:500px;
}
#about a{
color:#094F89;
}
#about h3{
position: absolute;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border:medium none;
top:8px;
right:30px;
background-color:#fff;
text-align:center;
font-size: 14px;
display:block;
height:18px;
padding: 4px 8px;
cursor: pointer;
margin-top:71px;
}

#about h3 a{
color:#000000;
}

.about-desc{
padding:30px 40px 15px 0;
}

.copyright, .design{
text-align:center;
min-width:500px;
}

.bluerndcontent  a{
font-weight:bold;
}
.bluerndcontent  ul {
margin-left:20px;
}
.bluerndcontent  ul  li {
line-height:20px;
}

/*| NEWS |*/
.newsbox {
position: relative;
margin-top:5px;
/*    padding:4px 2px; */
}
.newstop div {padding-left:10px; background: transparent url(../images/news-tl.gif) no-repeat top left;}
.newstop {padding-right:10px; background: transparent url(../images/news-tr.gif) no-repeat top right; }
.newsbot div {clear:left;padding-left:10px; background: transparent url(../images/news-bl.gif) no-repeat bottom left; }
.newsbot {padding-right:10px;background: transparent url(../images/news-br.gif) no-repeat bottom right; }
.newstop div, .newstop, .newsbot div, .newsbot {
height: 7px;
font-size: 1px;
}
.newstop .tbg {
background:url(../images/news-tbg.png) top repeat-x;
}
.newsbot .bbg {background: url(../images/news-bbg.png) bottom repeat-x;
}
.newscontent-rbg {
padding-right: 10px;
background: url(../images/news-rbg.png) 100% 100% repeat-y;
}
.newscontent {
padding:1px 4px 1px 6px;
}

hr {
border: 0;
color: #619ACB;
background-color: #619ACB;
height: 1px;
}

/* | Text Boxes | */

#editor {width:100%;}

input.f-text, textarea.f-text, .submit, .submit2, #comment, .tx-box{
border:0 none;
background:transparent;
margin: 3px 0;
color:#000000;
}

textarea.f-text{
height: 40px;
}

.side-box {
margin: 3px 0;
color:#000000;
font-size:12px;
background:#fff;
padding:0 5px;
}

.side-box a{
color:#094F89;
font-weight:bold;
}
.side-box a:hover{
text-decoration:underline;
}

.side-box-content {
margin:2px 6px 4px 6px;
}

.sidebar h3{
/*	position: relative;  */
font-size: 12px;
font-weight:bold;
color:#FFFFFF;
padding:4px;
margin:1px;
background-color:#619ACB;
}


/*| NAVIGATION |----*/
/***** tabbed navigation *****/
.tab-nav-spacing {
clear:left;
padding:0;
border-top:1px solid #fff;
border-bottom:1px solid #fff;
background-color:#629acb;
}

.tab-nav {
clear:right;
/*    position: relative;  */
padding:1px 0;
height:24px;
font-weight:bold;
width: 960px;
margin: 0 auto;
}
.tab-nav a {color:#000000;}
.tab-nav ul {
margin-left: 10px;
list-style: none;
}

.tab-nav li {
float: left;
padding:4px 0;
color:#ffffff;
}

.tab-nav li.cur {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#e7e7e7;
border-top:1px solid #619ACB;
border-left:1px solid #C8C8C8;
border-right:1px solid #C8C8C8;
color:#000000;
display:block;
font-size:14px;
height:15px;
padding:4px 8px;
margin-top:2px;
}
.tab-nav li.cur a:link, .tab-nav li.cur a:visited{
color:#000000;
}
.tab-nav li.cur a:hover, .tab-nav li.cur a:visited{
color:#000000;
}

.tab-nav li a:link, .tab-nav li a:visited {
/*	display: block;
float: left;*/
white-space: nowrap;
text-decoration: none;
min-height: 34px;
/*    font-size: 18px;
font-weight: normal;*/
color: #ffffff;

}
.tab-nav li a:hover, .tab-nav li a:active {
color: #DDDDDD;
}

.tab-nav li span{
cursor: pointer;
float: left;
font-size: 14px;
/*    font-weight: bold;*/
padding: 2px 12px 16px 10px;
}
.tab-nav li.cur span{
cursor: pointer;
float: left;
font-size: 14px;
/*    font-weight: bold; */
padding: 0px 12px 16px 10px;
}

.ie-tab-nav {
margin-top:100px;
}

/***** fieldsets *****/
fieldset {
border: 1px solid #ddd ;
margin-top: 10px;
padding: 10px 14px 10px 14px;
}

fieldset p{
margin:5px 0 8px 0;
}
fieldset ol{
}
fieldset ol li{
margin:3px 0 4px 0px;
}
fieldset ol li ul li{
margin:0px;
}
fieldset ol li ol li{
margin:0px;
}

fieldset fieldset legend {
font-size: 105%;
}

* html fieldset { padding-top: 0; }

legend, .legend {
font-size: 135%;
color:#000000;
font-weight: normal;
letter-spacing: -0.03em;
line-height: 1;
padding: 0 0.5em; /* Top and Bottom for IE7 */
text-transform:capitalize;
}

* html legend { margin-bottom: 15px; padding: 0 0.5em; }

legend span, span.lg{
color: #009;
font-weight:bold;
font-size: 90%;
letter-spacing: 0;
}

.manage_footer_buttons{ }
.manage_footer_killspam {
float:left;
}
.manage_footer_status {
float:right;
}

/*-| Page Numbers |-*/
.page-left{
/*    position:relative; */
float: left;
list-style:none;
margin-left:20px;
}
.page-left li{
display:inline;
}

.pagination {
/*    position:relative;   */
float:left;
font-size: 11px;
margin:-4px 0px 15px 0px;
}
.pagination a:link,.pagination a:visited, .pagination span{
display: block;
font-size:13px;
float: left;
padding: 2px 5px;
margin-right: 3px;
border:1px solid #ddd;
}
.pagination a:link, .pagination a:visited {
text-decoration: none;
}
.pagination a:hover,.pagination a:active {
text-decoration: none;
}
.pagination span{
color: #CCC;
}
.pagination span.current {
color: #CCC;
}
.pagination a.nextprev {
color: #CCC;
}
.pagination span.nextprev {
color: #CCC;
}


/* Tables */
table { width:100% }
table td, table th{ padding:3px 4px 4px 4px; text-align:left; }
table th{ background: #619ACB; padding:4px; color:#fff;}
table th a:hover{ background:none; color:#CC0000;}
.stripes tr.over td, .stripes tr:hover td {background: #E8ECF3;}
tr.rowA {background-color: #fff;}
tr.rowB {background-color: #efefef;}

/* Edit in Place */
.eip_editable { background-color: #ff9; padding: 3px; }
.eip_savebutton { background-color: #36f; color: #fff; }
.eip_cancelbutton { background-color: #000; color: #fff; }
.eip_saving { background-color: #903; color: #fff; padding: 3px; }
.eip_empty { color: #afafaf; }

/* Category Manager */
#basic-accordian{
padding:5px;
width:775px;
z-index:2;
}

.accordion_headings{
padding:5px;
background:#629acb;
color:#FFFFFF;
border:1px solid #FFF;
cursor:pointer;
font-weight:bold;
}

.accordion_headings:hover{
background:#0a508a;
}

.accordion_child{
padding:15px;
background:#EEE;
}

.header_highlight{
background:#0a508a;
}
.deletecategory {
background:#FDFFCF;
float:left;
width:600px;
border:1px solid #E1E3AB;
padding:8px;
margin:25px 0 10px 0px;
}

.admin_config {
float:left;
width:200px;
margin:0 0 15px 0;
padding:0;
}
.admin_config table tr td {
border-top:1px solid #DFDFDF;
border-right:1px solid #bbb;
border-bottom:1px solid #bbb;
border-left:1px solid #DFDFDF;
background:#f9f9f9;
padding:5px 6px;
}
.admin_config_content {
float:right;
width:720px;
margin:0 0 0 0;
padding:0;
}

/* Pagination */
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
