/* Large EVB */
.evb_large_wrapper {
	font-family: Tahoma, Verdana, Helvetica, Arial;
	padding:0;
	margin:0;
	width:50px;
	height:61px;
	overflow:hidden;
	background:transparent url(images/large_background.png) no-repeat center top;
	color:#000;
}
.evb_large_vote_count {
	margin:4px 0 0 0;
	padding:0;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.evb_large_vote_count a{
	text-decoration:none;
	color:#000;
}
.evb_large_vote_text {
	margin:-3px 0 0 0;
	padding:0;
	font-size:11px;
	font-weight:normal;
	text-align:center;
}
#evb_large_button {
	margin:2px 0 0 4px;
	background:transparent url(images/large_buttons.png) no-repeat center top;
	width:42px;
	height:21px;
	padding:0;
	font-size:21px;
	letter-spacing:14px;
}
.evb_large_button a{
	text-decoration:none;
}


/* Small EVB */
.evb_small_wrapper {
	font-family: Tahoma, Verdana, Helvetica, Arial;
	padding:0;
	margin:0;
	width:76px;
	height:17px;
	overflow:show;
	background:transparent url(images/small_background.png) no-repeat center top;
	color:#000;
}
.evb_small_vote_count {
	float:left;
	width:35px;
	margin:0px 0 0 0;
	padding:0;
	font-size:13px;
	font-weight:bold;
	text-align:center;
}
.evb_small_vote_count a{
	text-decoration:none;
	color:#000;
}
#evb_small_vote_button {
	float:left;
	padding:0;
	margin:0;
	background:transparent url(images/small_buttons.png) no-repeat center top;
	height:17px;
	width:41px;
}
#evb_small_vote_button:hover {cursor: pointer;}
.evb_small_vote_text {
	float:left;
	margin:2px 0 0 13px;
	padding:0;
	font-size:10px;
	font-weight:normal;
}
.evb_small_vote_text a{
	text-decoration:none;
	color:#000;
}